atomicwrites
attrs
autopep8
backcall
bleach
certifi
chardet
colorama
cycler
dataclasses
decorator
defusedxml
Django
docutils
entrypoints
futures
idna
image
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Kivy
Kivy-Garden
Kivy-Garden-Graph
kivymd
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
olefile
packaging
pandocfilters
parso
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
py
pycodestyle
Pygments
pylint
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
requests
rope
selenium
Send2Trash
sqlparse
terminado
testpath
tornado
traitlets
typed-ast
urllib3
wcwidth
webencodings
widgetsnbextension
wincertstore
zipp